<%- include('partials/header.ejs') %>

  <div class="container">
    <div class="hero">
      <div class="text-start py-0">
        <p class="accent-text" data-aos="fade-up">Hi, I am </p>
        <h1 data-aos="fade-up" data-aos-delay="200" class="hero-title">Avis Ejerenwa</h1>
        <h1 data-aos="fade-up" data-aos-delay="200" class="hero-subtitle">I love to build solutions for the web.</h1>
        <p data-aos="fade-up" data-aos-delay="300" class="hero-caption"> <span class="accent-text">I am, </span> a
          full stack web developer focused on developing modern web solutions and solving real-world problems with
          clean code.</p>
        <a href="#work" class="btn btn-outline-accent mt-3" data-aos="fade-up" data-aos-delay="400">View My
          Work</a>
      </div>
    </div>
  </div>

  <section id="about" class="container pt-5 pb-3 mb-3">
    <div class="">
      <h2 data-aos="fade-up" class="mb-4 section-header"><span class="accent-text">01.</span> About Me</h2>
    </div>
    <div class="row align-items-center">
      <!-- Left Column: Text Content -->
      <div class="col-lg-8  mb-4 pe-md-3 pe-lg-4">
        <div class="pe-5">
          <p data-aos="fade-up" data-aos-delay="100" class="mb-4">
            Hello! My name is <span class="fw-bold">Avis Ejerenwa</span>, and I’m a passionate <span
              class="fw-bold">Software Engineer</span> who enjoys creating solutions that improve productivity and
            streamline workflows.
            My journey began in 2009, when I learned Core Java at <span class="accent">MIIT</span> to build a
            stock-keeping
            application for my dad's store—a project that sparked my passion for solving real-world problems through
            technology.
          </p>
          <p data-aos="fade-up" data-aos-delay="150" class="mb-4">
            Over the years, I’ve had the privilege of working with companies like <span class="accent">Triumph Courier
              Services</span>, where I built a comprehensive Delivery Dashboard, and <span class="accent">Paris Beauty
              and
              Hair Salon</span>, where I developed an appointment scheduler and payments-integrated website. Today, I
            specialize in building scalable web applications, collaborating with cross-functional teams, and
            leveraging
            modern tools and technologies to deliver impactful solutions.
          </p>
          <p data-aos="fade-up" data-aos-delay="200">
            Here are a few technologies and tools I’ve been working with recently:
          </p>
          <!-- Technologies List -->
          <div class="row">
            <div class="col-6">
              <ul class="list-unstyled">
                <li data-aos="fade-up" data-aos-delay="100" class="mb-2"><i class="fas fa-chevron-right accent"></i>
                  Node.js
                </li>
                <li data-aos="fade-up" data-aos-delay="300" class="mb-2"><i class="fas fa-chevron-right accent"></i>
                  Java,
                  JavaScript
                </li>
                <li data-aos="fade-up" data-aos-delay="500" class="mb-2"><i class="fas fa-chevron-right accent"></i>
                  MongoDB
                </li>
                <li data-aos="fade-up" data-aos-delay="700" class="mb-2"><i class="fas fa-chevron-right accent"></i>
                  Git,
                  GitHub</li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="list-unstyled">
                <li data-aos="fade-up" data-aos-delay="200" class="mb-2"><i class="fas fa-chevron-right accent"></i>
                  Bootstrap, Express.js</li>
                <li data-aos="fade-up" data-aos-delay="400" class="mb-2"><i class="fas fa-chevron-right accent"></i>
                  HTML/CSS
                  React,
                  REST APIs
                </li>
                <li data-aos="fade-up" data-aos-delay="600" class="mb-2"><i class="fas fa-chevron-right accent"></i>
                  UI/UX
                  Design (Figma, Adobe Suite)
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <!-- Right Column: Image -->
      <div class="col-lg-4 text-center mt-n-5 d-flex align-items-start">
        <div class="d-none-lg">
          <br><br>
        </div>
        <div class="position-relative  w-100">
          <div class="image-container m-auto">
            <img
              src="https://lh3.googleusercontent.com/pw/AP1GczNTAC5slZlSOPomLNDR3x1j7mnkZ3YtIH-8JlnRLnp_07_eIc6LFoisSYZIYWmkL17U58X6xIVTu5j_g8h9M9T4inMbJ9HD57RPR7-W8hEZkWOCZHOcNSEiMGeIt5hWTe0j6BXojAFYhgHOs45kTIZteA=w684-h1049-s-no-gm?authuser=0"
              alt="Your Image" class="img-fluid rounded" />

          </div>
        </div>
      </div>
    </div>
  </section>


  <br><br><br>







  <section class="container mb-5 mt-5 py-5" id="experience">
    <div>
      <h2 data-aos="fade-up" class="mb-5 section-header"><span class="accent-text">02.</span> Experience</h2>
    </div>

    <div class="d-flex align-items-start experience-section">
      <!-- Left Column: Navigation -->
      <div class="experience-nav" data-aos="fade-up" data-aos-delay="100">
        <ul class="nav flex-column" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" id="tab-triumph-courier" data-bs-toggle="tab"
              data-bs-target="#content-triumph-courier" type="button" role="tab" aria-controls="content-triumph-courier"
              aria-selected="true">
              Triumph Courier
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="tab-aced" data-bs-toggle="tab" data-bs-target="#content-aced" type="button"
              role="tab" aria-controls="content-apple" aria-selected="false">
              ACED Division
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="tab-scout" data-bs-toggle="tab" data-bs-target="#content-scout" type="button"
              role="tab" aria-controls="content-scout" aria-selected="false">
              Rokit Media
            </button>
          </li>
        </ul>
      </div>

      <!-- Right Column: Tab Content -->
      <div class="tab-content experience-content ms-4">

        <!-- Triumph Courier Tab -->
        <div class="tab-pane fade show active" data-aos="fade-up" data-aos-delay="300" id="content-triumph-courier"
          role="tabpanel" aria-labelledby="tab-triumph-courier">
          <h4>Full Stack Web Developer / IT Personel<span class=""><a target="_blank"
                class="nav accent d-inline nav-link" href="https://triumphcourier.com/test">@triumphcourier</a></span>
          </h4>
          <p class="accent-secondary experience-date">Nov 2019 - Present</p>
          <ul>
            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Developed and maintain the Management <span class="accent-text">Dashboard</span> to
                monitor delivery fleet progress, handle scheduling, and
                manage user access to utility applications for D&amp;S
                Unlimited LLC (DBA - Triumh Courier Services).
                <a class="nav-link accent d-inline" target="_blank" href="https://triumphcourier.com/dashboard"> <i
                    class="fas fa-external-link-alt"></i></a>
                <a class="nav-link accent-text d-inline px-2" target="_blank"
                  href="https://github.com/ejerenwaavis/Dashboard">
                  <i class="fab fa-github"></i>
                </a>

              </div>
            </li>

            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Created the <span class="accent-text">Routing Assistant</span> web app using Node.js,
                Bootstrap, and JavaScript, saving over 300 hours/week
                by optimizing route planning.
                <a class="nav-link accent d-inline" target="_blank"
                  href="https://triumphcourier.com/routingassistant/login">
                  <i class="fas fa-external-link-alt"></i>
                </a>
                <a class="nav-link accent-text d-inline " target="_blank"
                  href="https://github.com/ejerenwaavis/RoutingAssistant">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </li>

            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>

                Developed the <span class="accent-text">SmartStop</span> Web App leveraging HERE Maps
API and MongoDB to ensure seamless access for delivery drivers, enhancing customer 
satisfaction by minimizing missed deliveries caused by secured gated entrances. - <a class="nav-link accent d-inline" target="_blank" href="https://triumphcourier.com/smartstop/">
                  <i class="fas fa-external-link-alt"></i>
                </a>
                <a class="nav-link accent-text d-inline" target="_blank"
                  href="https://github.com/ejerenwaavis/SmartStop">
                  <i class="fab fa-github"></i>
                </a>

              </div>
            </li>

            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Designed and developed the Job Opening and Job application flow for aspiring and onboarding new hires -
                <a class="nav-link accent d-inline" target="_blank"
                  href="https://triumphcourier.com/career/apply/deliverDriver">
                  <i class="fas fa-external-link-alt"></i>
                </a>
                <a class="nav-link accent-text d-inline " target="_blank" href="https://github.com/ejerenwaavis/career">
                  <i class="fab fa-github"></i>
                </a>

              </div>
            </li>
          </ul>
        </div>

        <!-- ACED Tab -->
        <div class="tab-pane fade" id="content-aced" role="tabpanel" aria-labelledby="tab-aced">
          <h4>Freelance Full Stack Web Developer - Graphics Designer - Video Editor<span class=""><a target="_blank"
                class="nav accent d-inline nav-link" href="https://aceddivision.com/">@ acedsivisionllc</a></span></h4>
          <p class="accent-secondary experience-date">Aug 2009 - Present</p>
          <ul>
            <p class="accent experience-date pt-3">Web</p>

            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Designed and developed the Paris Beauty &amp; Hair Studio
                booking web application.
                <a class="nav-link accent d-inline" target="_blank"
                  href="https://aceddivision.com/apps/demo/parisbeautyandhairstudio/home"> <i
                    class="fas fa-external-link-alt"></i></a>
                <a class="nav-link accent d-inline px-2" target="_blank"
                  href="https://github.com/ejerenwaavis/Paris-Beauty-and-Hair-Studio"> <i class="fab fa-github"></i></a>
              </div>
            </li>


            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Designed and developed the Mayvick Construction Portfolio website.
                <a class="nav-link accent d-inline" target="_blank" href="https://mayvickrenovation.com/"> <i
                    class="fas fa-external-link-alt"></i></a>
                <a class="nav-link accent d-inline px-2" target="_blank"
                  href="https://github.com/ejerenwaavis/mayvick---portfolio"> <i class="fab fa-github"></i></a>
              </div>
            </li>


            <p class="accent experience-date pt-3">Graphics / Video</p>
            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Branded the Mbaise Connect Global Initiative and created impactful projects, including a voting rights
                awareness video named
                <a class="nav-link accent d-inline" target="_blank" href="https://youtu.be/SgVRhU4tTPc"> solution to an
                  unstable nation <i class="fas fa-film"></i></a>
            </li>


          </ul>
        </div>

        <!-- https://github.com/ejerenwaavis/mayvick---portfolio -->

        <!-- Rokit Media -->
        <div class="tab-pane fade" id="content-scout" role="tabpanel" aria-labelledby="tab-scout">
          <h4>Web / Graphics Design Manager<span class=""><a target="_blank" class="nav accent d-inline nav-link"
                href="https://rokitonline.com/">@ rokitmediaosogbo</a></span></h4>
          <p class="accent-secondary experience-date">Sep 2015 - Present</p>
          <ul>

            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Rebranded, redesigned, developed and manage the Rokit Media Website.
                <a class="nav-link accent d-inline" target="_blank" href="https://rokitonline.com/"> <i
                    class="fas fa-external-link-alt"></i></a>
              </div>
            </li>

            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Designed, developed and managed <span class="accent-text">Mini-Trasures Prep School</span> website.
                <a class="nav-link accent d-inline" target="_blank" href="https://rokitonline.com/jobs.html#"> <i
                    class="fas fa-external-link-alt"></i></a>
              </div>
            </li>

            <li class="text-start">
              <i class="fas fa-chevron-right accent"></i>
              <div>
                Designed, developed and managed <span class="accent-text">The Light International Schools</span>
                website.
                <a class="nav-link accent d-inline" target="_blank" href="https://rokitonline.com/jobs.html#"> <i
                    class="fas fa-external-link-alt"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>







  <section class="container mt-5 py-5" id="work">
    <div>
      <h2 data-aos="fade-up" class="mb-5 section-header"><span class="accent-text">03.</span> Featured Projects</h2>
    </div>






    <!-- start of helper input -->

    <!-- Delivery Dashboard -->
    <div target="_blank" data-aos="fade-up" class="py-5 mb-5 d-flex project-link">
      <div class="container my-5">
        <div class="row align-items-center project-card ">
          <!-- Left Column: Background Image -->
          <div class="col-lg-8 d-none d-md-block col-12 project-image-container" data-aos="fade-up">
            <div class="video-wrapper vwoh">
              <!-- Embed YouTube video -->
              <!-- <img src="<%- domain %>/img/dashboard.png" class="hoh" alt="Delivery Dashboard"> -->
              <iframe class="rounded-3 doh" width="100%" height="100%"
                src="https://www.youtube.com/embed/BSOqdCPgiqY?autoplay=1&loop=1&playlist=BSOqdCPgiqY&controls=0&rel=0&modestbranding=1"
                title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>

          <!-- Right Column: Project Details -->
          <div
            class="col-lg-8 offset-sm-2 offset-md-4 offset-lg-6 col-12 text-center text-md-end project-description-container"
            data-aos="fade-up" data-aos-delay="100">
            <p class="mb-3 lead accent-text">Delivery Dashboard</p>
            <p class="text-normal p-4 accent-bg-secondary project-description rounded-3 shadow-lg">
              A comprehensive tool for <strong>delivery monitoring, scheduling, payroll tracking, and user access
                control</strong>.
              Includes weekly summaries, SmartStop integration, brand management, and more, providing complete logistics
              control.<br>
              <a class="nav-link accent d-inline" target="_blank" href="https://triumphcourier.com/dashboard/">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <a class="nav-link accent-text d-inline" target="_blank" href="https://github.com/ejerenwaavis/Dashboard">
                <i class="fab fa-github"></i>
              </a>
            </p>
            <p class="accent-text small mb-3">Node.JS · HTML/CSS · JavaScript · MongoDB</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Paris Beauty & Hair Studio -->
    <div class="py-5 d-flex project-link">
      <div class="container my-5">
        <div class="row align-items-center project-card">
          <!-- Left Column: Background Image -->
          <div class="col-lg-8 d-none d-md-block offset-sm-2 offset-md-1 offset-lg-4 col-12 project-image-container"
            data-aos="fade-up">
            <div class="video-wrapper">
              <!-- Embed YouTube video -->
              <iframe class="rounded-3" width="100%" height="100%"
                src="https://www.youtube.com/embed/9BsZSQtY_fI?rel=0&loop=1&playlist=9BsZSQtY_fI&controls=0&rel=0&modestbranding=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>

          <!-- https://www.youtube.com/watch?v=BSOqdCPgiqY -->
          <!-- Right Column: Project Details -->
          <div class="col-lg-8 offset-sm-2 offset-md-0 col-12 text-center text-md-start project-description-container"
            data-aos="fade-up" data-aos-delay="100"">
            <p class=" mb-3 lead accent-text">Paris Beauty & Hair Studio</p>
            <p class="text-normal p-4 accent-bg-secondary project-description rounded-3 shadow-lg">
              A <strong>portfolio website</strong> for a salon, featuring <strong>appointment booking, payment
                integration</strong>, and
              customer management. Provides a seamless experience for both clients and staff.<br>
              <a class="nav-link accent d-inline" target="_blank"
                href="https://aceddivision.com/apps/demo/parisbeautyandhairstudio/home">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <a class="nav-link accent-text d-inline" target="_blank"
                href="https://github.com/ejerenwaavis/Paris-Beauty-and-Hair-Studio">
                <i class="fab fa-github"></i>
              </a>
            </p>
            <p class="accent-text small mb-3">HTML/CSS · JavaScript</p>
          </div>
        </div>
      </div>
    </div>







    <!-- Project 1.1: Career Portal -->
    <div target="_blank" data-aos="fade-up" class="py-5 mb-5 d-flex project-link">
      <div class="container my-5">
        <div class="row align-items-center project-card">
          <!-- Left Column: Background Image -->
          <div class="col-lg-8 d-none d-md-block col-12 project-image-container" data-aos="fade-up">
            <img src="<%- domain %>/img/career.png" alt="Career Portal">
          </div>

          <!-- Right Column: Project Details -->
          <div
            class="col-lg-8 offset-sm-2 offset-md-4 offset-lg-6 col-12 text-center text-md-end project-description-container"
            data-aos="fade-up" data-aos-delay="100">
            <p class="mb-3 lead accent-text">Career Portal</p>
            <p class="text-normal p-4 accent-bg-secondary project-description rounded-3 shadow-lg">
              Developed to streamline <strong>onboarding</strong> and simplify the job application process for new and
              aspiring employees. A user-friendly interface enhances the hiring process. <br>
              <a class="nav-link accent d-inline" target="_blank"
                href="https://triumphcourier.com/career/apply/deliverDriver">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <a class="nav-link accent-text d-inline" target="_blank" href="https://github.com/ejerenwaavis/career">
                <i class="fab fa-github"></i>
              </a>
            </p>
            <p class="accent-text small mb-3">
              Node.JS · JavaScript · MongoDB
            </p>
          </div>
        </div>
      </div>
    </div>



    <!-- RoutingAssistant -->
    <div class="py-5 d-flex project-link">
      <div class="container my-5">
        <div class="row align-items-center project-card">
          <!-- Left Column: Background Image -->
          <div class="col-lg-8 d-none d-md-block offset-sm-2 offset-md-1 offset-lg-4 col-12 project-image-container"
            data-aos="fade-up">
            
            <div class="video-wrapper">
              <!-- Embed YouTube video -->
              <iframe class="rounded-3" width="100%" height="100%"
                src="https://www.youtube.com/embed/-11sRkgGQPs?rel=0&loop=1&playlist=-11sRkgGQPs&controls=0&rel=0&modestbranding=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </div>
          </div>

          <!-- Right Column: Project Details -->
          <div class="col-lg-8 offset-sm-2 offset-md-0 col-12 text-center text-md-start project-description-container"
            data-aos="fade-up" data-aos-delay="100"">
        <p class=" mb-3 lead accent-text">RoutingAssistant</p>
            <p class="text-normal p-4 accent-bg-secondary project-description rounded-3 shadow-lg">
              A utility that converts <strong>exported manifests</strong> into formats uploadable by 3rd-party
              navigation
              apps,
              such as <strong>RoadWarrior</strong> or <strong>Circuit</strong>. Simplifies workflow for delivery
              drivers.<br>
              <a class="nav-link accent d-inline" target="_blank" href="https://triumphcourier.com/routingassistant/">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <a class="nav-link accent-text d-inline" target="_blank"
                href="https://github.com/ejerenwaavis/RoutingAssistant">
                <i class="fab fa-github"></i>
              </a>
            </p>
            <p class="accent-text small mb-3">Node.JS · JavaScript</p>
          </div>
        </div>
      </div>
    </div>

    <!-- BarcodeTool -->
    <div target="_blank" data-aos="fade-up" class="py-5 mb-5 d-flex project-link">
      <div class="container my-5">
        <div class="row align-items-center project-card">
          <!-- Left Column: Background Image -->
          <div class="col-lg-8 d-none d-md-block col-12 project-image-container" data-aos="fade-up">
            <div class="video-wrapper">
              <!-- Embed YouTube video -->
              <iframe class="rounded-3" width="100%" height="100%"
                src="https://www.youtube.com/embed/_XO7gzKFlVY?rel=0&loop=1&playlist=_XO7gzKFlVY&controls=0&rel=0&modestbranding=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>
          https://www.youtube.com/watch?v=_XO7gzKFlVY

          <!-- Right Column: Project Details -->
          <div
            class="col-lg-8 offset-sm-2 offset-md-4 offset-lg-6 col-12 text-center text-md-end project-description-container"
            data-aos="fade-up" data-aos-delay="100">
            <p class="mb-3 lead accent-text">BarcodeTool</p>
            <p class="text-normal p-4 accent-bg-secondary project-description rounded-3 shadow-lg">
              A lightweight <strong>utility tool</strong> for generating barcodes. Includes a bulk processing feature,
              making it
              invaluable for dispatch teams managing large batches of items.<br>
              <a class="nav-link accent d-inline" target="_blank" href="https://triumphcourier.com/barcodetool/">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <a class="nav-link accent-text d-inline" target="_blank"
                href="https://github.com/ejerenwaavis/barcodetool">
                <i class="fab fa-github"></i>
              </a>
            </p>
            <p class="accent-text small mb-3">Node.JS · JavaScript</p>
          </div>
        </div>
      </div>
    </div>



    <!-- SmartStop -->
    <div class="py-5 d-flex project-link">
      <div class="container  my-5">
        <div class="row align-items-center project-card ">
          <!-- Left Column: Background Image -->
          <div class="col-lg-8 d-none d-md-block offset-sm-2 offset-md-1 offset-lg-4 col-12 project-image-container"
            data-aos="fade-up">
            <!-- Image acts as background -->
            <div class="video-wrapper">
              <!-- Embed YouTube video -->
              <iframe class="rounded-3" width="100%" height="100%"
                src="https://www.youtube.com/embed/x73gXIWBzQk?rel=0&loop=1&playlist=x73gXIWBzQk&controls=0&rel=0&modestbranding=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
              </iframe>
            </div>
          </div>

          <!-- https://www.youtube.com/watch?v=x73gXIWBzQk -->

          <!-- Right Column: Project Details -->
          <div class="col-lg-8  offset-sm-2 offset-md-0 col-12 text-center text-md-start project-description-container"
            data-aos="fade-up" data-aos-delay="100"">
            <p class=" mb-3 lead accent-text">SmartStop</p>
            <p class="text-normal p-4 accent-bg-secondary project-description rounded-3 shadow-lg">
              A web application leveraging <strong>HERE Maps</strong> technology and <strong>MongoDB</strong> to provide
              secure gate access for delivery drivers to gated communities. By reducing failed deliveries,
              <strong>SmartStop</strong> ensures a smoother delivery experience and better customer satisfaction. <br>
              <a class="nav-link accent d-inline" target="_blank" href="https://triumphcourier.com/smartstop/">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <a class="nav-link accent-text d-inline" target="_blank" href="https://github.com/ejerenwaavis/SmartStop">
                <i class="fab fa-github"></i>
              </a>
            </p>
            <p class="accent-text small mb-3">
              Node.JS · JavaScript · HERE Maps · MongoDB
            </p>
            <div>
              <i class="bi bi-github me-3"></i>
              <i class="bi bi-box-arrow-up-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>





    </div>
    </div>
  </section>







  <section id="noteworthy-projects" class="container mb-5 mt-5 py-5">
    <div>
      <h2 data-aos="fade-up" class="mb-5 section-header"><span class="accent-text">04.</span> Builders</h2>
    </div>


    <div class="row d-flex align-items-stretch py-5">
      <!-- Project Card 1 -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card project-card project-description h-100 shadow-lg">
          <div>
            <h5 class="card-header small accent-text">Avis FX Trader Bot</h5>
          </div>
          <div class="card-body">
            <p class="text-body">
              A powerful trading bot designed to execute trades based on a custom financial model named
              <strong>ID50</strong>,
              created by Steve Mauro. Optimized for the <strong>foreign exchange market</strong>.<br>
            </p>
          </div>

          <div class="card-footer d-flex justify-content-between">
            <p class="small accent-text">MQL4</p>
            <div class="">
              <a href="https://github.com/ejerenwaavis/avisfxtrader" target="_blank" class="accent-text nav-link"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Card 2 -->
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card project-card project-description h-100 shadow-lg">
          <div class="">
            <h5 class="card-header small accent-text">mailReader</h5>
          </div>

          <div class="card-body">
            <p class="text-body">
              Automates <strong>email data extraction</strong> to power the <strong>Delivery Dashboard</strong>.
              Processes
              delivery information, ensuring seamless integration with the logistics system
            </p>

          </div>
          <div class="card-footer d-flex justify-content-between">
            <p class="small accent-text">Node.js</p>
            <div class="">
              <a href="https://github.com/ejerenwaavis/mailReader" target="_blank" class="accent-text nav-link"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card project-card project-description h-100 shadow-lg">
          <div class="">
            <h5 class="card-header small accent-text">Whisper</h5>
          </div>

          <div class="card-body">
            <p class="text-body">
              A dynamic Node.js blog platform offering seamless content management, rich text editing, and a responsive
              design for an
              intuitive experience.
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p class="small accent-text">Node.js • MongoDB</p>
            <div class="">
              <a href="https://github.com/ejerenwaavis/Whisper" target="_blank" class="accent-text nav-link"><i
                  class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card project-card project-description h-100 shadow-lg">
          <div class="">
            <h5 class="card-header small accent-text">Package Sorting Assistant</h5>
          </div>

          <div class="card-body">
            <p class="text-body">
              A package sorting assistant using Google Maps API to help drivers categorize deliveries into predefined
              routes
              efficiently.
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <p class="small accent-text">Node.js • MongoDB • Google Maps API</p>
            <div class="">
              <a href="https://github.com/ejerenwaavis/Pacakge-Sorting-Assistant" target="_blank"
                class="accent-text nav-link"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>


  </section>







  <section id="contact" class="container py-5 mt-5 text">
    <div>
      <h2 data-aos="fade-up" class="mb-5 section-header"><span class="accent-text">05.</span> Contact</h2>
    </div>
    <div class="text-center col-sm-12 col-md-12 offset-xs-4 py-5">
      <p class="mb-4">
        My inbox is always open. Whether you have a question
        or just want to say hi, I’ll try my best to get back to you!
      </p>
      <a href="mailto:youremail@example.com" class="btn btn-outline-accent  nav-item px-5 py-2">
        Say Hello
      </a>
      <ul class="nav d-flex justify-content-center  mt-3">
        <li class="nav-item"><a class="nav-link accent-text" href="https://github.com/ejerenwaavis" target="_blank"><i
              class="fab fa-github"></i></a></li>
        <li class="nav-item"><a class="nav-link accent-text" href="https://www.linkedin.com/in/avis-ejerenwa-32a703b4"
            target="_blank"><i class="fab fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </section>



  <!-- Static Sidebar for Social Media -->
  <div class="social-sidebar d-none d-md-block" data-aos="fade" data-aos-delay="800">
    <ul class="list-unstyled ">
      <li><a href="https://github.com/ejerenwaavis" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/avis-ejerenwa-32a703b4" target="_blank"><i
            class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>

  <!-- Static Sidebar for Email -->
    <div class="email-sidebar sidebar">
      <a data-aos="fade" data-aos-delay="400" href="mailto:ejeremwaavis.@gmail.com" class=" accent-text">ejeremwaavis.@gmail.com</a>
    </div>


  <%- include('partials/footer') %>