.accent {
    color: #EDA505;
}

.accent-secondary {
    color: #b2b2b2;
}

.accent-bg {
    background-color: #EDA505;
}

.accent-bg-secondary {
    background-color: #6d6d6d;
}


.accent-text {
    color: #EDA505;
    font-family: 'Fira Code', monospace;
    font-weight: bold;
}

a,
.custom-navbar {
    background-color: transparent;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    padding: 10px 20px;
}


body {
    background-color: #757575;
    color: #d1d1d1;
}

.btn-accent {
    background-color: #eda305ab;
    color: #f8faff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
}

.btn-accent-secondary {
    background-color: #f8faff;
    color: #EDA505;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
}

.btn-accent-transparent {
    background-color: transparent;
    color: #EDA505;
    border: 1px solid #EDA505;
    padding: 10px 40px;
    cursor: pointer;
}

.btn-outline-accent {
    border: 1px solid #eda505;
    color: #eda505;
}

.btn-outline-accent:hover {
    background-color: #eda505;
    color: #f8faff;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.custom-navbar {
    background-color: none;
    position: fixed-top;
    width: 100%;
    z-index: 10;
}

.custom-navbar .custom-nav-link {
    color: #f8faff;
    margin: 0 15px;
    transition: color 0.3s;
}

.custom-navbar .custom-nav-link:hover {
    color: #EDA505;
}

.custom-navbar .custom-nav-link span {
    color: #EDA505;
    font-weight: bold;
    margin-right: 5px;
    font-size: 0.9rem;
}

.custom-navbar .custom-resume-btn {
    color: #EDA505;
    border: 1px solid #EDA505;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
    transition: all 0.3s;
}

.custom-navbar .custom-resume-btn:hover {
    background-color: rgba(100, 255, 218, 0.1);
    color: #EDA505;
}

.experience-content h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.experience-content h4 .accent-text {
    color: #EDA505;
}

.experience-content ul {
    list-style: none;
    padding: 0;
}

.experience-content ul li {
    margin-bottom: 10px;
    display: flex;
}

.experience-content ul li i.fa-chevron-right {
    margin-right: 10px;
    margin-top: 5px;
    font-size: small;
    color: #EDA505;
}

.experience-content ul li:hover i.fa-chevron-right {
    transform: translateX(5px);
    color: antiquewhite;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.experience-date {
    font-size: 0.9rem;
}

.experience-nav {
    border-left: 2px solid #8892b0;
    padding-left: 20px;
}

.experience-nav .nav-link {
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    color: #8892b0;
    background: transparent;
    border: none;
    text-align: left;
    padding: 10px 0;
    transition: color 0.3s ease;
    position: relative;
}

.experience-nav .nav-link.active {
    color: #EDA505;
    font-weight: bold;
}

.experience-nav .nav-link.active::before {
    content: '';
    position: absolute;
    left: -22px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #EDA505;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.hero-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #b1b1b3;
    font-size: 2rem;
}

.hero-title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #ccd6f6;
    font-size: 5.5rem;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border: 1px solid #EDA505;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.image-container img {
    object-fit: cover;
    object-position: 50% 0%;
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: transform 0.4s ease, filter 0.4s ease, object-position 0.4s ease;
}

.image-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.image-container:hover img {
    object-position: 50% -5%;
    transform: scale(1.25);
    filter: grayscale(0%);
}

.image-container::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 30%;
    height: 1px;
    background-color: #EDA505;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover::after {
    transform: translateX(-50%) scaleX(1);
}



.project-card h3 {
    font-weight: bold;
}

.project-card img {
    transition: transform 0.3s ease-in-out;
}

.project-card img:hover {
    transform: scale(1.05);
}

.project-card a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.project-card a:hover {
    color: #EDA505;
}

.project-image-container {
    height: 400px;
    background: url('../img/smartstop.jpg') no-repeat center center / cover;
    position: fixed;
    z-index: -3;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    filter: grayscale(100%); /* Adds grayscale */
}

.project-image-container:hover {
    filter: grayscale(0%);
    /* Removes grayscale on hover */
    transform: scale(1.05);
    /* Slight enlargement on hover */
}



.project-link {
    transform: translateY(-5px);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
}



.project-link:hover .project-image-container {
    transform: scale(1.05);
}

.projects {
    padding: 60px 20px;
}

.section-header {
    font-size: 2rem;
    position: relative;
    font-weight: 600;
    display: inline-block;
    color: #ccd6f6;
}

.section-header::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: #8892b0;
    margin-top: 10px;
    position: absolute;
    left: calc(100% + 20px);
    top: 25%;
    transform: translateY(-50%);
}

.text-justify {
    text-align: justify;
}

.text-normal{
    font-family: 'Inter', sans-serif;
}

@media (max-width: 992px) {
    .custom-navbar .custom-nav-link {
        margin: 10px 0;
    }

    .custom-navbar .custom-resume-btn {
        margin-top: 10px;
    }
}